{% extends "admin_layout.html" %}

{% block content %}
<h2>{{ 'Редактировать ученика' if student else 'Добавить ученика' }}</h2>

<div class="admin-form">
  <form method="post">
    {% if student %}
      <p>Код для ученика: <code>{{ student['public_code'] }}</code></p>
    {% endif %}

    <label>Имя</label>
    <input type="text" name="name" value="{{ student['name'] if student else '' }}" placeholder="Имя ученика">

    <label>Курс / группа</label>
    <input type="text" name="course" value="{{ student['course'] if student else '' }}" placeholder="Например: Начальный-1">

    <label>Дата последней оплаты (ГГГГ-ММ-ДД)</label>
    <input type="text" name="last_payment_date" value="{{ student['last_payment_date'] if student else '' }}" placeholder="2025-02-01">

    <label>Сумма последней оплаты</label>
    <input type="number" name="last_payment_amount" value="{{ student['last_payment_amount'] if student else '' }}" min="0">

    <label>Всего занятий в пакете</label>
    <input type="number" name="lessons_total" value="{{ student['lessons_total'] if student else '' }}" min="0">

    <label>Осталось занятий</label>
    <input type="number" name="lessons_left" value="{{ student['lessons_left'] if student else '' }}" min="0">

    <label>Комментарий (для себя)</label>
    <textarea name="comment" rows="3" placeholder="Доп. инфо: формат, особые условия и т.п.">{{ student['comment'] if student else '' }}</textarea>

<div class="form-field">
  <label>Преподаватель</label>
  <select name="teacher_id">
    <option value="">— не выбран —</option>
    {% for t in teachers %}
      <option value="{{ t['id'] }}"
        {% if student and student['teacher_id'] == t['id'] %}selected{% endif %}
      >
        {{ t['name'] }}
      </option>
    {% endfor %}
  </select>
</div>

    
    <button class="admin-btn" type="submit">
      {{ 'Сохранить' if student else 'Создать' }}
    </button>
  </form>
</div>
{% endblock %}
