html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
  background: radial-gradient(
    circle at top,
    var(--bg-gradient-top),
    var(--bg-gradient-bottom)
  );
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}


.wrapper {
  min-height: 100vh;
}
