.admin-table {
  width: 100%;
  margin-top: 22px;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-table img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.admin-delete-btn {
  background: rgba(255, 50, 50, 0.8);
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
