.admin-btn {
  background: #ffdd80;
  color: #000;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.admin-btn:hover {
  background: #ffe6a8;
}
